.chat-button {
  position: fixed;
  bottom: 50px;
  right: 32px;
  border: none;
  color: white;
  font-weight: 500;
  background-color: var(--accent-color);
  font-size: 18px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 999;
  animation: bounce 3s infinite;
}

.chat-button:hover {
  background-color: var(--accent-hover);
  color: var(--accent-color);
  transform: scale(1.1);
}

.chat-small {
  font-size: 12px;
  line-height: 1;
}

.chat-large {
  font-size: 18px;
  line-height: 1;
}

.scroll-top-button {
  position: fixed;
  bottom: 215px;
  right: 43px;
  border: none;
  color: white;
  font-weight: 500;
  background-color: var(--accent-color);
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.scroll-top-button:hover {
  background-color: var(--accent-hover);
  color: var(--accent-color);
  transform: scale(1.1);
}

.arrow_up {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
  position: fixed;
  bottom: 145px;
  right: 42px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 998;
  border: 1px solid var(--accent-color);
}

.dark-mode-icon {
  font-size: 48px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-button:hover {
  transform: scale(1.1);
  background-color: var(--accent-hover);
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}